<h1>MWorkshop</h1>
<nav>
  <ul>
    <li>{{#link-to 'students'}}Students{{/link-to}}</li>
    <li>{{#link-to 'workshops'}}Workshops{{/link-to}}</li>
    <li>{{#link-to 'assignments'}}Assignments{{/link-to}}</li>
    <li>{{#link-to 'levels'}}Levels{{/link-to}}</li>
  </ul>
</nav>
{{outlet}}